<h1>Signup!</h1>
<%= form_tag '/users', method: :post do  %>
  <div>
    Name:
    <input type="text" name="user_name">
  </div>

  <div>
    Email:
    <input type="email" name="user_email">
  </div>

  <div>
    Password:
    <input type="password" name="user_password">
  </div>

  <div>
    Confirm Password:
    <input type="password" name="user_password_confirmation">
  </div>

  <input type="submit" value="Submit">
<% end %>