/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .page_title {
  color: #5E5E5E;
 }

 body {
    /*background-image: url("san_francisco_wallpaper.jpg");*/
    background-color: #fff;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 70px;
}

 .thumbnail{
   width:auto;
   height:175px;

}

.img {
    width: 100%;
    height: auto;

}
.mytable tbody tr td{
  max-width:20px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.fill { 
    min-height: 150px;
    /*max-height: 500px;*/
    /*height: 500px;*/
}


.well 
{
	/*margin-top: 0px;*/
	/*background-color: rgba(209, 238, 255, 0.8);*/
  background-color: #fff;
	/*position: center;*/
  /*border-width: 1px;*/
  /*border-color: gray;*/
  box-shadow: 0 0 3px gray; 
  /*shape-outside: 30px;*/

    /*color: white;*/
}

.panel-heading 
{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 15px;
}
#item_id
{
	color: gray;
  /*text-align: left;*/
}

#item_title 
{
	font-size: 22px;
	color: #5E5E5E;
}

#item_description
{
    min-height: 100%;
    max-height: 100px;  
    width: 100%;
    background: transparent;
    border: 0px;
    scroll-behavior: smooth;
    color: black;
}
#item_price
{
	font-size: 18px;
	color: #2B68FF;
}

.item_sale_message_green
{
	color: green;
}
.item_sale_message_red
{
	color: red;
}

#item_tax
{
	color: gray;
  font-size: 17px;
}
#item_total_price
{
	font-size: 20px;

	color: #FF2B4B;
}

.table_table-striped
{
 color: white;
  background-color: rgba(21, 27, 26, 0.8); 
}
{
  color: white;
  background-color: rgba(21, 27, 26, 0.8);
}